[Unit]
Description = "Serina as a service"
After=network.target
StartLimitIntervalSec=300
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/serina -l --stderr
KillMode=control-group
Restart=always
RestartSec=1
Type=simple

[Install]
WantedBy=multi-user.target
